
.hide {
  animation-name: hide;
  animation-delay: 0;
  animation-duration: .7s;
  animation-timing-function: linear;
  max-height: 0;
  border: 0;
}

.shine {
  background: white;
  border-radius: 3px;
  border: 1px solid silver;
  transition: all 1.3s;
}

.open {
  background-image: url("./../images/open.png"); !important
}

@keyframes hide {
  from {
    max-height: 300px;
  }
  to {
    max-height: 0;
  }
}

@keyframes show {
  from {
    max-height: 0;
  }

  to {
    max-height: 300px;
  }
}
